.footer {
  padding: 40px 0 43px 0;
  background-color: var(--color-blue-950);
  color: var(--color-white);

  @media (min-width: 768px) {
    padding: 32px 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__nav {
    margin-top: 39px;
    
    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 63px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      @media (min-width: 991px) {
        gap: 44px;
      }
    }

    &-link {
      font-size: 13px;
      line-height: 1.31;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: var(--color-red-400);
        }
      }
    }
  }

  &__media {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 48px;

    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: auto;
    }

    &-link {
      svg {
        fill: var(--color-white);
        transition: all 0.2s ease-in-out;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            fill: var(--color-red-400);
          }
        }
      }
    }
  }
}
