.questions {
  margin-top: 140px;
    
  @media (min-width: 991px) {
    margin-top: 149px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__accordion {
    max-width: 540px;
    margin-top: 56px;
    border-top: 1px solid rgba(#242a45, 0.15);

    &-section {
      border-bottom: 1px solid rgba(#242a45, 0.15);
      overflow: hidden;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 23px;
      font-size: 15px;
      line-height: 2.13;
      padding: 19px 0 13px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 1.78;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--color-red-400);
        }
      }

      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L10 10L18 2' stroke='%235267DF' stroke-width='3' /%3E%3C/svg%3E") center no-repeat;
      }

      .active & {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 11L10 3L18 11' stroke='%23FA5959' stroke-width='3' /%3E%3C/svg%3E");
        }
      }
    }

    &-content {
      font-size: 15px;
      line-height: 2.25;
      letter-spacing: 0.01em;
      opacity: 0.75;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;

      @media (min-width: 768px) {
        font-size: 16px;
      }

      p {
        padding-bottom: 29px;
      }
      
      .active & {
        max-height: 300px; 
      }
    }
  }

  &__btn {
    margin-top: 48px;

    @media (min-width: 768px) {
      margin-top: 54px;
    }
  }
}
