@use 'vars';
@use 'reset';
@use 'header';
@use 'hero';
@use 'features';

.page {
  color: var(--color-blue-950);
  height: 100%;
  background-color: var(--color-white);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  padding: 0 24px;

  @media (min-width: 600px) {
    padding: 0 40px;
  }

  @media (min-width: 991px) {
    padding: 0 55px;
  }
}

.responsive-media {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 68.39%;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--color-white);
  padding: 8px 15px;
  background-color: var(--color-blue-600);
  border: 2px solid var(--color-blue-600);
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2);
  transition: all 0.3s ease-in-out;
  white-space: nowrap;

  @media (min-width: 768px) {
    padding: 8px 22px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--color-blue-600);
    }
  }
 
  &--secondary {
    color: rgba(#242a45, 0.75);
    background-color: var(--color-grey);
    border-color: transparent;

    @media (hover: hover) {
      &:hover {
        color: rgba(#242a45, 0.75);
        background-color: transparent;
        border-color: rgba(#242a45, 0.75);
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 2.17;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.62;
  }
}

.text {
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  opacity: 0.5;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 16px;
    max-width: 540px;
  }
}
